<br>

<div class="question-type">
  <mat-chip-list>
    <mat-chip color="accent" selected="true"><a routerLink="/questions/featured">Featured</a></mat-chip>
    <mat-chip color="accent" selected="true"><a routerLink="/questions/popular">Popular</a></mat-chip>
    <mat-chip color="accent" selected="false"><a routerLink="/questions/unanswered">Unanswered</a></mat-chip>
  </mat-chip-list>
</div>

<br/>
<br/>

<mat-spinner *ngIf="loadingSpinner"></mat-spinner>
<h2 *ngIf="!loadingSpinner">Unanswered questions:</h2>
<div *ngIf="isRecords">
  <p>No featured questions founds.</p>
</div>
<div>
  <div *ngFor="let question of questions" class="single-question">
    <div fxLayout="row" fxLayout.xs="column" class="content">
      <div fxFlex="15" fxFlex.sm="20" class="left">
        <div class="answer">
          <h4>{{question.answers.length}}</h4>
          <p>answers</p>
        </div>
        <div class="vote">
          <span>{{question.upVote}} <mat-icon color="primary" class="thumb-up">thumb_up</mat-icon></span>
          <span>{{question.downVote}} <mat-icon color="accent" class="thumb-down">thumb_down</mat-icon></span>
        </div>
        <p class="date">{{question.getCreatedAt()}}</p>
      </div>
      <div fxFlex="85" fxFlex.sm="80" class="right">
        <h4><a href="/questions/{{question.id}}">{{question.title}}</a></h4>
        <p>{{question.description}}</p>
        <mat-chip-list>
          <mat-chip *ngFor="let tag of question.tags">{{tag.name}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
<div *ngIf="paginationMeta">
  <app-pagination [paginationMeta]="paginationMeta" [pagesToShow]="6"></app-pagination>
</div>

<br/>
<br/>