<br>

<div class="question-type">
    <mat-chip-list>
        <mat-chip color="accent" selected="true"><a routerLink="/questions/featured">Featured</a></mat-chip>
        <mat-chip color="accent" selected="true"><a routerLink="/questions/popular">Popular</a></mat-chip>
        <mat-chip color="accent" selected="false"><a routerLink="/questions/unanswered">Unanswered</a></mat-chip>
    </mat-chip-list>
</div>

<br/>
<br/>

<mat-spinner *ngIf="loadingSpinner"></mat-spinner>
<h2 *ngIf="!loadingSpinner">Unanswered questions:</h2>
<div *ngIf="isRecords">
    <p>No featured questions founds.</p>
</div>
<div>
    <div *ngFor="let question of questions" class="single-question">
        <app-single-question [question]="question"></app-single-question>
    </div>
</div>
<div *ngIf="paginationMeta">
    <app-pagination [paginationMeta]="paginationMeta" [pagesToShow]="6"></app-pagination>
</div>

<br/>
<br/>