@import './variables';
@import './mixins';
// Bootstrap
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//custom scss

.footer{
  padding: 15px 0;
  p{
    font-size: $font-size-very-small;
  }
}

.veryDarkBG{
  background-color: $gray-darker;
  color: #fff;
}
