
<div style="max-width: 400px; margin:0 auto">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search by tags">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
</div>
<br />
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Latest</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Featured</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Popular</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Unanswered</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <br />
            <div class="singleQuestion">
                <div class="media">
                    <div class="media-left">
                        <h4>210</h4>
                        <p>votes</p>
                        <div class="answer">
                            <h4>23</h4>
                            <p>answers</p>
                        </div>
                        <p class="date">March 12, 2018</p>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="/">This is the title of the question</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                            ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                            dis parturient montes, nascetur ridiculus mus. </p>
                        <span class="label label-default">PHP</span>
                        <span class="label label-default">Javascript</span>
                        <span class="label label-default">Angular</span>
                    </div>
                </div>
            </div>

            <div class="singleQuestion">
                <div class="media">
                    <div class="media-left">
                        <h4>210</h4>
                        <p>votes</p>
                        <div class="answer">
                            <h4>23</h4>
                            <p>answers</p>
                        </div>
                        <p class="date">March 12, 2018</p>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="/">This is the title of the question</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                            ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                            dis parturient montes, nascetur ridiculus mus. </p>
                        <span class="label label-default">PHP</span>
                        <span class="label label-default">Javascript</span>
                        <span class="label label-default">Angular</span>
                    </div>
                </div>
            </div>

            <div class="singleQuestion">
                <div class="media">
                    <div class="media-left">
                        <h4>210</h4>
                        <p>votes</p>
                        <div class="answer">
                            <h4>23</h4>
                            <p>answers</p>
                        </div>
                        <p class="date">March 12, 2018</p>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="/">This is the title of the question</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                            ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                            dis parturient montes, nascetur ridiculus mus. </p>
                        <span class="label label-default">PHP</span>
                        <span class="label label-default">Javascript</span>
                        <span class="label label-default">Angular</span>
                    </div>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            Featured list
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
            Popular list
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">
            Unanswered list
        </div>
    </div>

</div>
