
<div class="serach-form-container">
    <mat-form-field>
        <mat-select placeholder="Search by tags" [formControl]="tags" multiple>
            <mat-select-trigger>
                {{tags.value ? tags.value[0] : ''}}
                <span *ngIf="tags.value?.length > 1">
                    (+{{tags.value.length - 1}} others)
                </span>
            </mat-select-trigger>
            <mat-option *ngFor="let tag of tagList" [value]="tag">{{tag}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<br />

<mat-tab-group>
    <mat-tab label="Latest">
        <br />
        <div *ngFor="let question of questions" class="single-question">
            <div fxLayout="row" fxLayout.xs="column" class="content">
                <div fxFlex="15" fxFlex.sm="20" class="left">
                    <h4>{{question.downVote}}</h4>
                    <p>votes</p>
                    <div class="answer">
                        <h4>23</h4>
                        <p>answers</p>
                    </div>
                    <p class="date">March 12, 2018</p>
                </div>
                <div fxFlex="85" fxFlex.sm="80" class="right">
                    <h4><a href="/">{{question.title}}</a></h4>
                    <p>{{question.description}}</p>
                    <span class="label label-default">PHP</span>
                    <span class="label label-default">Javascript</span>
                    <span class="label label-default">Angular</span>
                </div>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Featured">
        <h1>Some more tab content</h1>
        <p>...</p>
    </mat-tab>
    <mat-tab label="Popular">
        <h1>Some more tab content</h1>
        <p>...</p>
    </mat-tab>
    <mat-tab label="Unanswered">
        <h1>Some more tab content</h1>
        <p>...</p>
    </mat-tab>
</mat-tab-group>
