<div style="max-width: 500px; margin: 0 auto;">
    <h3>Ask a question:</h3>
    <form [formGroup]="askQuestionForm" (ngSubmit)="onSubmit()" novalidate>
        <div fxLayout="column">
            <input type="hidden" name="userId" value="{{userId}}">

            <mat-form-field>
                <input matInput placeholder="question title" type="text" formControlName="title">
                <mat-error *ngIf="!askQuestionForm.get('title').valid && askQuestionForm.get('title').touched">Please enter a valid title.</mat-error>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Description" formControlName="description" cols="30" rows="10"></textarea>
                <mat-error *ngIf="!askQuestionForm.get('description').valid && askQuestionForm.get('description').touched">Please enter a valid description.</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select matInput placeholder="Select tags" formControlName="tags" multiple>
                    <mat-option *ngFor="let tag of tagsList" [value]="tag.id">{{tag.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!askQuestionForm.get('tags').valid && askQuestionForm.get('tags').touched">Please select valid tags.</mat-error>
            </mat-form-field>

            <br />
            <button *ngIf="!loadingSpinner" type="submit" mat-raised-button color="primary" [disabled]="askQuestionForm.invalid">Ask</button>
            <mat-spinner *ngIf="loadingSpinner"></mat-spinner>
            <br />
            <p *ngIf="invalidData" class="errorMessage">Invalid inputs have been provided.</p>
        </div>
    </form>
</div>

