<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <mat-nav-list>
            <a (click)="sidenav.toggle()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
               mat-list-item routerLink="/">Home</a>
            <a (click)="sidenav.toggle()" routerLinkActive="active" mat-list-item routerLink="/questions">Questions</a>
            <a (click)="sidenav.toggle()" routerLinkActive="active" mat-list-item routerLink="/tags">Tags</a>
            <a (click)="sidenav.toggle()" routerLinkActive="active" mat-list-item routerLink="/users">Users</a>
            <a *ngIf="!isAuth" (click)="sidenav.toggle()" routerLinkActive="active" mat-list-item routerLink="/register">Register</a>
            <a *ngIf="!isAuth" (click)="sidenav.toggle()" routerLinkActive="active" mat-list-item routerLink="/login">Login</a>
            <a *ngIf="isAuth" (click)="sidenav.toggle(); onLogout()" style="cursor: pointer" mat-list-item>Logout</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div class="logo"><a routerLink="/">Angular Q&A</a></div>
            <div fxHide.xs fxFlex fxLayout fxLayoutAlign="flex-end">
                <ul fxLayout class="navigation-items">
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Home</a>
                    </li>
                    <li routerLinkActive="active"><a routerLink="/questions">Questions</a></li>
                    <li routerLinkActive="active"><a routerLink="/tags">Tags</a></li>
                    <li routerLinkActive="active"><a routerLink="/users">Users</a></li>
                    <li *ngIf="!isAuth" routerLinkActive="active"><a routerLink="/register">Register</a></li>
                    <li *ngIf="!isAuth" routerLinkActive="active"><a routerLink="/login">Login</a></li>
                    <li *ngIf="isAuth" (click)="onLogout()" style="cursor: pointer"><a>Logout</a></li>
                </ul>
            </div>
        </mat-toolbar>
        <br>
        <div class="content-area">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
                <div fxFlex="75">
                    <router-outlet></router-outlet>
                </div>
                <div fxFlex="25">
                    <h2>This is side bar.</h2>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>