@import '../sass/variables';

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 170px;
}

.logo a{
  color: $white-base;
  text-decoration: none;
}

mat-sidenav a:hover, mat-sidenav a:active{
  background-color: $brand-primary;
  color: $white-base
}

mat-sidenav a.active{
  background-color: $brand-primary;
  color: $white-base
}

ul.navigation-items{
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    padding: 15px 10px;
  }
  a {
    text-decoration: none;
    color: $white-base;
    font-size: $font-size-small;
  }

  a:hover, a:active{
    color: $white-dark;
  }

  li:hover, li:active{
    background-color: darken($brand-primary, 5%);
  }

  li.active{
    background-color: darken($brand-primary, 5%);
  }
}

