<div class="pagination" *ngIf="getTotalCount() > 0">
  <div class="description">
    <span class="page-counts">{{ getMin() }} - {{ getMax() }} of {{ getTotalCount() }}</span>
    <span class="page-totals">{{ totalPages() }} pages</span>
  </div>
  <div class="numbers">
    <button class="link" [ngClass]="{ 'disabled': paginationMeta.currentPage === 1}">&lt; Previous</button>

    <button
            *ngFor="let pageNum of getPages()"
            [ngClass]="{'active': pageNum === paginationMeta.currentPage}">{{ pageNum }}</button>

    <button class="link" [disabled]="lastPage()" [ngClass]="{ 'disabled': lastPage()}">Next &gt;</button>
  </div>
</div>