<div class="pagination" *ngIf="getTotalCount() > 0">
    <div class="description">
        <span class="page-counts">{{ getMin() }} - {{ getMax() }} of {{ getTotalCount() }}</span>
        <span class="page-totals">{{ totalPages() }} pages</span>
    </div>
    <div class="numbers">
        <a class="link"
           href="{{paginationMeta.path.indexOf('?') > -1 ? paginationMeta.path + '&page=' + (paginationMeta.currentPage - 1) : paginationMeta.path + '?page=' + (paginationMeta.currentPage - 1)}}"
           [ngClass]="{ 'disabled': paginationMeta.currentPage === 1}">&lt; Previous</a>

        <a *ngFor="let pageNum of getPages()"
            href="{{paginationMeta.path.indexOf('?') > -1 ? paginationMeta.path + '&page=' + pageNum : paginationMeta.path + '?page=' + pageNum}}"
           [ngClass]="{'active': pageNum === paginationMeta.currentPage}">
            {{ pageNum }}
        </a>

        <a class="link"
           href="{{paginationMeta.path.indexOf('?') > -1 ? paginationMeta.path + '&page=' + (paginationMeta.currentPage + 1) : paginationMeta.path + '?page=' + (paginationMeta.currentPage + 1)}}"
           [ngClass]="{ 'disabled': lastPage()}">Next &gt;</a>
    </div>
</div>