<div class="jumbotron">
    <h1>Angular Q&A</h1>
    <p>This is a web application powered by Angular. The backend API has been developed using PHP(Laravel).</p>
    <p>You can register, login, ask questions, answer to questions, rate a question & answer and
        except an answer if the question is created by you and many more...</p>
    <p>This application is for demostration purpose only to show case my skill on Angular.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Ask a question</a></p>
</div>
