<mat-spinner *ngIf="loadingSpinnerQuestion"></mat-spinner>

<div *ngIf="question">
    <h3>Question:</h3>
    <div class="single-question" *ngIf="question.user.questions">

        <div fxLayout="row" fxLayout.xs="column" class="content">
            <div fxFlex="15" fxFlex.sm="20" class="left">
                <p>Qs:{{ question.user.questions.length }} As:{{ question.user.answers.length }}</p>
                <div class="left-box">
                    <p><a routerLink="/users/{{question.user.id}}/questions">{{question.user.name}}</a></p>
                </div>
                <div class="vote">
                    <span>{{question.upVote}} <mat-icon color="primary" class="thumb-up">thumb_up</mat-icon></span>
                    <span>{{question.downVote}} <mat-icon color="accent" class="thumb-down">thumb_down</mat-icon></span>
                </div>
                <p class="date">{{question.getCreatedAt()}}</p>
            </div>
            <div fxFlex="85" fxFlex.sm="80" class="right">
                <h3>{{question.title}}</h3>
                <mat-chip-list>
                    <mat-chip *ngFor="let tag of question.tags">{{tag.name}}</mat-chip>
                </mat-chip-list>
                <br />
                <p>{{question.description}}</p>

            </div>
        </div>
    </div>

    <h3>Answers:</h3>
    <mat-spinner *ngIf="loadingSpinnerAnswer"></mat-spinner>
    <p *ngIf="question.answers.length == 0">No answer found.</p>
    <div *ngIf="question.answers.length > 0">
        <div class="single-question">
            <div *ngFor="let answer of question.answers">
                <app-single-answer [answer]="answer"></app-single-answer>
            </div>
        </div>
    </div>

    <br />
    <br />

    <h3 *ngIf="question.answers.length === 0">Be the first to answer this question:</h3>
    <h3 *ngIf="question.answers.length > 0">Answer this question:</h3>
    <app-create-answer *ngIf="isAuthenticated" [questionId]="question.id"></app-create-answer>
    <p *ngIf="!isAuthenticated">Please login <a routerLink="/login">here</a> to answer.</p>
</div>



